[Desktop Entry]
Type=Application
Name=Virtual Keyboard
GenericName=On-screen Keyboard
Comment=All-in-one virtual keyboard
Exec=/usr/local/bin/virtual-keyboard
